<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >  

<mapper namespace="com.PitaYa.GuGuDa.dao.user.UserDao" >
	
	<select id="getUser" resultType="com.PitaYa.model.user.User">
		select * from User where id = #{ID, jdbcType=INTEGER}
	</select>

	<insert id="insert" parameterType="com.PitaYa.model.user.User">
		insert into User(
			HeadPortrait,
			RegisterDate,
			UserName
		) values (
			#{headPortrait, jdbcType=CHAR},
			#{registerDate, jdbcType=DATE},
			#{userName, jdbcType=CHAR}
		)
		
	</insert>
</mapper>